.home-details {
    position: relative;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-white);
  }
  
  .home-details img{
    display: flex;
    margin: 70px;
    height: 450px;
    width: auto;
  }

  .aligncenter{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
  }

  .content {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 50px;
    width: 60%;
    z-index: 2;
    padding: 20px;
    border-radius: 10px;
  }
  
  .content h1 {
    font-family: var(--font-family);
    color: #047469 ;
    font-weight: 650;
    font-size: 2.5rem;
    margin: 0;
    line-height: 1.5;
    text-align: left;
  }
  
  .content h3 {
    font-family: var(--font-family);
    color: #047469 ;
    opacity: 70%;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 10px 0;
    text-align: left;
  }

  .butn{
    display: inline-block;
    text-align: center;
    background-color: var(--page-color);
    color: var(--orginal-white);
    font-family: POPPINS,sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    width: 35%;
    padding: 15px 0;
    border-radius: 5rem;
    cursor: pointer;
    transition: 0.3s;
  }

  .butn:hover{
    background-color: var(--hover-effect);
  }
  
  @media (max-width: 768px) {
    .home-details {
      flex-direction: column;
    }
    .home-details img{
      width: 100%;
      height:30%;
    }
    .content h1 {
      font-size: 2rem;
    }
  
    .content h3 {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 480px) {
    .content h1 {
      font-size: 1.5rem;
    }
  
    .content h3 {
      font-size: 0.9rem;
    }
  }
  