@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --color-white: #F1F3F1;
  --color-black: #000000;
  --page-color: #047469;
  --font-family: 'Poppins', sans-serif;
  --hover-effect:#90D39E;
  --orginal-white:#f2f2f2;
}

body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  background-color: var(--color-white);
}